.login_cont {
  position: fixed;
  height: 98vh;
  width: 40vw;
  background: white;
  left: 50%;
  margin-left: -20vw;
  top: 50%;
  margin-top: -49vh;
  z-index: 1000;
  text-align: center;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.login_cont__icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.2rem;
  cursor: pointer;
}
.login_cont__icon img {
  width: 100%;
}

.login_cont__msg {
  font-size: 2rem;
}

.login_cont__otherOp {
  font-size: 1.2rem;
}

.login_cont__form {
  text-align: left;
}

.login_cont__form label {
  display: block;
  margin-bottom: 0.3rem;
}

/* .login_cont__form input:nth-child(1) {
  margin-bottom: 2px;
} */

.login_cont__form input {
  margin-bottom: 1rem;
  padding: 0.3rem 1rem;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 8px;
}

.login_cont__form input:focus-visible {
  outline: none;
}

.login_cont__error {
  margin-bottom: 1rem;
  margin-left: 0.3rem;
  color: red;
  font-size: 0.8rem;
}

.login_cont_formButton {
  width: 100%;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 0.3rem;
  margin-top: 1rem;
  cursor: pointer;
}

.login_cont_formButton:hover {
  background-color: white;
  color: black;
}
