.bloglist {
  width: 100%;
}

.blog_hdngbtn {
  width: 100%;
  padding: 1rem 0;
}

.blog_hdngbtn > div {
  width: 45%;
  margin: 0 auto;
}

.blog_hdngbtn button {
  background: #d7dadc;
  color: grey;
  cursor: pointer;
  padding: 0.4rem 1.6rem;
  border: 1px solid #dad7dc;
  border-radius: 12px;
  margin-left: -5px;
}

.blog_hdngbtn button:hover {
  color: black;
  background: white;
}

.blog_hdngbtn h2 {
  color: #d7dadc;
}

.myprofile_errormsg {
  color: #15cf81;
  width: 45%;
  margin: 3rem auto;
  text-align: center;
}
